[defaults]
inventory = ./inventory
remote_user = student
ask_pass = true
roles_path = /etc/ansible/roles:./roles
private_key_file = ./id_rsa
host_key_checking = false

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = true
